<!-- <h3>{{count}}</h3> -->

<p style=" height: 6vh; font-size: 1.5vw;text-align: center;  border-radius: 10px; font-weight: bold ;  background-color: #EA2F32;">{{ countdown }}</p>
<p-carousel [value]="gifts" [numVisible]="4" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="autoplayInterval">
    <ng-template let-gift pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
                <img  [src]="'assets/images/' + gift.image" class="card-image" />
            </div>
            <div>
                <h4 class="mb-1">{{ gift.name }}</h4>
                <h6 class="mt-0 mb-3">{{ '$' + gift.cost }}</h6>
            
                <div class="car-buttons mt-5">
                    <button (click)="addToCart(gift)" type="button" class="addToCart" icon="pi pi-shopping-cart">Add to cart</button>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>










